body {
  color: #222222;
  background-color: #cccccc;
  font-family: Verdana, Arial, Geneva, Swiss, SunSans-Regular;
  font-size: 10pt
}

td.msg1 {
  color: #111111;
  background-color: #ccccdd;
  padding: 8px;
}

td.msg2 {
  color: #111111;
  background-color: #c9c9d6;
  padding: 8px;
}
