
<tr><td colspan=2>
  $pages
<tr><td colspan=2>
<form action="" method="post">
<table class=topic border=0>
<tr><td colspan=2>
<b>Оставить сообщение:</b><br /><br />
  <tr>
    <td width=50%>Ваше имя:</td>
    <td width=50%><input name="name" size=20></td>
  </tr>
  <tr>
    <td width=50%>Почта:</td>
    <td width=50%><input name="email" size=20></td>
  </tr>
<tr><td colspan=2>
<br /><p>Сообщение:<br />
<textarea cols=60 name="text" rows="7"></textarea></p>
<input type="submit" value="Отправить">
</table>
</form>

</table>
</body>
</html>
