<tr><td>
 <div class=message1>
  <table width=100% cellspacing=0 border=0>
   <tr>
   <th class=message1 width=35%>
    <b>Автор - $name</b>
   <th class=message1>
    <b>$mail_stamp</b>
   <tr>
   <td class=message1 colspan=2>
    $text_stamp<br />
    <font size=1>$time_stamp</font>
  </table>
 </div>
 <br />
