<tr><td colspan=2>
  $pages
<tr><td colspan=2>
<form action="" method="post">
<table class=topic border=0>
<tr><td colspan=2>
<b>$T_HEAD:</b><br /><br />
  <tr>
    <td width=50%>$T_NAME:</td>
    <td width=50%><input name="name" size=20></td>
  </tr>
  <tr>
    <td width=50%>$T_EMAIL:</td>
    <td width=50%><input name="email" size=20></td>
  </tr>
<tr><td colspan=2>
<br /><p>$T_TEXT:<br />
<textarea cols=60 name="text" rows="7"></textarea></p>
<input type="submit" value="$T_SEND">
</table>
</form>

